<!DOCTYPE html>
<html>
  <head>
    <title>Sign in</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  </head>
  <body>
    <h2><a href="/goSignIn">Sign in via facebook</a></h2>
  	<% if( error != null){ %>
  	  <p>ERROR:<%= error %></p>
  	<% } %>
  </body>
</html>
