body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 480px) {
	body {
		padding: 10px;
	}
}
@media screen and (max-width: 320px) {
	body {
		padding: 10px;
	}
}

a {
  color: #00B7FF;
}

#status.connected:after {
	content: 'connected';
	color: #00ff7f;
}

#status.connecting:after {
	content: 'connecting';
	color: #000000;
}

#status.disconnect:after {
	content: 'disconnect';
	color: red;
}
